<div class="posts-wrapper row">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
          <%= post.user.username %>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
      </div>
      <p class="caption">
        <%= post.title %>
        <%= post.description %>
        <%= post.location %>
        <%= post.number_of_seats %>
        <%= post.contact_info %>
        <%= post.category %>
        <%= post.will_start_at %>
        <%= post.will_end_at %>
      </p>
    </div>
  <% end %>
</div>