<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
        <%= @post.title %>
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @post.image.url(:medium) %>
    </div>
    <p class="caption">
      <%= @post.description %>
      <%= @post.location %>
      <%= @post.number_of_seats %>
      <%= @post.contact_info %>
      <%= @post.category %>
      <%= @post.will_start_at %>
      <%= @post.will_end_at %>
    </p>
    <% if @post.user.id == current_user.id %>
      <div class="text-center edit-links">
        <%= link_to "Cancel", posts_path %>
        |
        <%= link_to "Edit Post", edit_post_path(@post) if policy(@post).update? %>
      </div>
    <% else %>
      <div class="text-center edit-links">
        <%= link_to "Cancel", posts_path %>
      </div>
    <% end %>
  </div>
</div>
