<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>MicroAA Labs || Praktil</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body data-spy="scroll" data-target="#scroll-menu" data-offset="65">
  <%= render 'partial/nav' %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
    <% end %>
    <%= render 'partial/landing' %>
  <%#= yield %>
  </body>
</html>
